/* dark-theme.css */
body {
    background: #0f1113 !important;
    color: white !important;
}

.header {
    background: #181c1f;
    border-bottom: 1px solid #313135;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.4);
}

h3 {
    color: white !important;
}

ul a {
    color: white !important;
}

nav {
    background: #7a8189 !important;
    color: white;
}

button {
    background-color: #4b5157 !important;
}

#loginButton {
    color: white !important;
}

div a {
    color: white;
}

li nav span {
    color: white;
}

section div div p {
    color: white !important;
}

footer div p {
    color: white !important;
}

footer div div {
    color: white !important;
}

section div article button div div span {
    color: white !important;
}

section div div div h1 {
    color: white !important;
}

section div div h1 {
    color: white !important;
}

section div ul li a p {
    color: white !important;
}

section div ul li a div span {
    color: white !important;
}